/* タイトル設定 */
div.title
{
  width: auto;
  line-height: normal;
  background-color: #a9a9a9;
}

div.title h2
{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 5px;
}

/* メイン表示設定 */
div.main
{
  display: flex;
  justify-content: center;
}

/* チェックボックス表示設定 */
div.checkbox-area
{
  /* TODO 可視表示用設定削除 */
  width: 479px;
  border: 2px solid black;
}

div.checkbox-area p
{
  margin: 5px 0px;
}

div.checkbox-group
{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}

/* グラフ表示設定 */
div.graph-area
{
  /* TODO 可視表示用設定削除 */
  width: 479px;
  border: 2px solid black;
}

/* 共通 - 右端余白 */
.mr-10
{
  margin-right: 10px;
}

/* 共通 - 下端余白 */
.mt-10
{
  margin-bottom: 10px;
}
