/* ウィンドウ幅が0〜479px(一般的なスマホ幅)の場合に適用するCSS */
@media screen and ( max-width:479px )
{
	div.main
	{
		display: block;
	}

  /* チェックボックス表示設定 */
  div.checkbox-area
  {
    margin: 0px auto 5px auto;
  }

  /* グラフ表示設定 */
  div.graph-area
  {
    margin: 0px auto 5px auto;
  }
}
