<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../CSS/Common.css" />
        <link rel="stylesheet" href="../CSS/SmartPhone.css" />
        <script src="../JS/index.js"></script>
        <title>都道府県別の総人口推移グラフ表示</title>
    </head>
    <body>
        <div class="title"><p>都道府県別の総人口推移グラフ表示</p></div>
        <div class="main">
            <div class="checkbox-area mr-10">ここにチェックボックスを表示</div>
            <div class="graph-area">ここにグラフを表示</div>
        </div>
    </body>
</html>
