<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="../CSS/Common.css" />
        <link rel="stylesheet" href="../CSS/SmartPhone.css" />

        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>都道府県別の総人口推移グラフ表示</title>
    </head>
    <body>
        <div class="title"><h2>都道府県別の総人口推移グラフ表示</h2></div>
        <div id="app" class="main">
            <div class="checkbox-area mr-10">
                <p>都道府県</p>
                <!-- TODO ここにチェックボックスを表示 -->
            </div>
            <div class="graph-area">ここにグラフを表示</div>
        </div>

        <script src="../JS/Index.js"></script>
    </body>
</html>
